Context Free.xcodeproj/xcuserdata
Context Free.xcodeproj/project.xcworkspace/xcshareddata
Context Free.xcodeproj/project.xcworkspace/xcuserdata
cfdg
objs
output
*.opensdf
*.sdf
src-net/CFControls/Debug/
src-net/Controls/obj/
src-net/Debug/
src-net/FileDlgExtenders/obj/
src-net/WinFormsUI/obj/
src-net/WinFormsUI/bin/
src-net/CFControls/Debug64/
src-net/CFControls/Release/
src-net/CFControls/Release64/
src-net/Debug64/
src-net/Release/
src-net/Release64/
Debug/
Debug64/
Release/
Release64/
*.dSYM*
*.ipch
*.db
*.opendb
packages*
src-net/.vs/
.vs/
src-win/win-install/*.exe
src-qt/*.o
src-qt/moc_*
src-qt/ui_*
src-qt/CMakeLists.txt.user*
src-qt/*.cfdg
src-qt/Makefile
src-qt/cmake_install.cmake
qt-build
context-free
**/*.swp
