<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Context Free Site</string>
	<string>http://www.contextfreeart.org/</string>
	<string>Forums</string>
	<string>http://www.contextfreeart.org/phpbb/</string>
	<string>Gallery</string>
	<string>http://www.contextfreeart.org/gallery/</string>
	<string></string>
	<string></string>
	<string>Original CFDG Site</string>
	<string>http://chriscoyne.com/cfdg/</string>
	<string></string>
	<string></string>
	<string>Send Feedback</string>
	<string>mailto:contextfree@contextfreeart.org</string>
</array>
</plist>
