<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Context Free Site</string>
	<string>https://www.contextfreeart.org/index.html</string>
	<string>Forums</string>
	<string>https://www.contextfreeart.org/phpbb/index.php</string>
	<string>Gallery</string>
	<string>https://www.contextfreeart.org/gallery2/</string>
	<string></string>
	<string></string>
	<string>Original CFDG Site</string>
	<string>https://www.flickr.com/groups/cfdg/pool/</string>
	<string></string>
	<string></string>
	<string>Send Feedback</string>
	<string>mailto:contextfree@contextfreeart.org</string>
</array>
</plist>
