<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cfdg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>ContextFree Design Grammar</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>CFDGDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Context Free</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.ozonehouse.ContextFree</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$CURRENT_PROJECT_VERSION</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSPortName</key>
			<string>Context Free</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSURLPboardType</string>
			</array>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Display CFDG Gallery Item</string>
			</dict>
			<key>NSMessage</key>
			<string>displayGalleryCfdg</string>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.url</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
