<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EditorFontSize</key>
	<real>12</real>
	<key>EditorFontName</key>
	<string>Courier</string>
	<key>EditorDefaultBold</key>
	<false/>
	<key>EditorDefaultItalic</key>
	<false/>
	<key>EditorDefaultColor</key>
	<string>#000</string>
	<key>EditorDefaultDarkColor</key>
	<string>#FFF</string>
	<key>EditorCommentsBold</key>
	<false/>
	<key>EditorCommentsItalic</key>
	<true/>
	<key>EditorCommentsColor</key>
	<string>#097BF7</string>
	<key>EditorCommentsDarkColor</key>
	<string>#097BF7</string>
	<key>EditorSymbolsBold</key>
	<false/>
	<key>EditorSymbolsItalic</key>
	<false/>
	<key>EditorSymbolsColor</key>
	<string>#111</string>
	<key>EditorSymbolsDarkColor</key>
	<string>#EEE</string>
	<key>EditorIdentifiersBold</key>
	<false/>
	<key>EditorIdentifiersItalic</key>
	<false/>
	<key>EditorIdentifiersColor</key>
	<string>#00567F</string>
	<key>EditorIdentifiersDarkColor</key>
	<string>#009AE4</string>
	<key>EditorKeywordsBold</key>
	<true/>
	<key>EditorKeywordsItalic</key>
	<false/>
	<key>EditorKeywordsColor</key>
	<string>#56007F</string>
	<key>EditorKeywordsDarkColor</key>
	<string>#A300F1</string>
	<key>EditorBuiltinsBold</key>
	<true/>
	<key>EditorBuiltinsItalic</key>
	<false/>
	<key>EditorBuiltinsColor</key>
	<string>#007F00</string>
	<key>EditorBuiltinsDarkColor</key>
	<string>#00D300</string>
	<key>EditorStringsBold</key>
	<false/>
	<key>EditorStringsItalic</key>
	<false/>
	<key>EditorStringsColor</key>
	<string>#C1802C</string>
	<key>EditorStringsDarkColor</key>
	<string>#EB9C35</string>
	<key>EditorNumbersBold</key>
	<false/>
	<key>EditorNumbersItalic</key>
	<false/>
	<key>EditorNumbersColor</key>
	<string>#7F7F00</string>
	<key>EditorNumbersDarkColor</key>
	<string>#D6D600</string>
	<key>TabWidth</key>
	<integer>2</integer>
	<key>MovieFrameRate</key>
	<integer>1500</integer>
	<key>MovieHeight</key>
	<integer>480</integer>
	<key>MovieWidth</key>
	<integer>640</integer>
	<key>CheckUpdatesWeekly</key>
	<true/>
	<key>HiresHeight</key>
	<integer>3000</integer>
	<key>HiresWidth</key>
	<integer>2000</integer>
	<key>HiresMinimumSize</key>
	<real>0.3</real>
	<key>LaunchAction</key>
	<integer>2</integer>
	<key>ProgressiveUpdate</key>
	<true/>
	<key>RenderOnDocumentOpen</key>
	<true/>
	<key>SaveCropped</key>
	<true/>
	<key>SaveWithVariationCode</key>
	<false/>
	<key>MovieLength</key>
	<real>10</real>
	<key>MoveLengthType</key>
	<integer>2</integer>
	<key>MovieZoom</key>
	<true/>
	<key>BorderSize</key>
	<real>2</real>
</dict>
</plist>
