<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CFForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CFForm.Properties.Settings>
            <setting name="StartAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenRender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgressiveRender" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BorderWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinimumSize" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ImageAppendVariation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageCrop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JPEGQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TabWidth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="StyleDefaultBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleCommentsBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleSymbolsBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleIdentifiersBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleKeywordsBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StyleBuiltinsBold" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StyleStringsBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleNumbersBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleDefaultItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleCommentsItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleSymbolsItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleIdentifiersItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleKeywordsItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleBuiltinsItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleStringsItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleNumbersItalic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleDefaultColor" serializeAs="String">
                <value>#000</value>
            </setting>
            <setting name="StyleCommentsColor" serializeAs="String">
                <value>#097BF7</value>
            </setting>
            <setting name="StyleSymbolsColor" serializeAs="String">
                <value>#101010</value>
            </setting>
            <setting name="StyleIdentifiersColor" serializeAs="String">
                <value>#00567F</value>
            </setting>
            <setting name="StyleKeywordsColor" serializeAs="String">
                <value>#56007F</value>
            </setting>
            <setting name="StyleBuiltinsColor" serializeAs="String">
                <value>#007F00</value>
            </setting>
            <setting name="StyleStringsColor" serializeAs="String">
                <value>#FFAA3E</value>
            </setting>
            <setting name="StyleNumbersColor" serializeAs="String">
                <value>#7F7F00</value>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Courier New, 12pt</value>
            </setting>
            <setting name="DocumentSplitter" serializeAs="String">
                <value>562</value>
            </setting>
            <setting name="EditorSplitter" serializeAs="String">
                <value>677</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1688, 1005</value>
            </setting>
            <setting name="SuppressDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimateZoom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RenderWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RenderHeight" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AnimateWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="AnimateHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="AnimateLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AnimateFrameRate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AnimateCodec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnimatePreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimatePreviewLoop" serializeAs="String">
                <value>False</value>
            </setting>
        </CFForm.Properties.Settings>
    </userSettings>
</configuration>