Source: contextfree
Section: graphics
Priority: optional
Maintainer: John Horigan <john@glyphic.com>
Uploaders: Paul van Tilburg <paulvt@debian.org>
Build-Depends: debhelper-compat (= 13),
               flex (>= 2.6),
	       bison (>=2:3),
	       libpng-dev,
	       libagg2-dev (>= 1:2.6.1),
	       libfl-dev (>= 2.6),
	       libicu-dev (>= 57.1),
	       libavformat-dev (>= 7:4.0),
	       libswscale-dev (>= 7:4.0),
	       libx264-dev (>= 2:0.155),
Standards-Version: 4.6.1
Homepage: https://www.contextfreeart.org/index.html
Vcs-Browser: https://github.com/MtnViewJohn/context-free
Vcs-Git: https://github.com/MtnViewJohn/context-free.git
Rules-Requires-Root: binary-targets

Package: contextfree
Architecture: any
Depends: libagg2 (>= 1:2.6.1), ${shlibs:Depends}, ${misc:Depends}
Description: image generator based on context-free grammars
 Context Free is a program that produces images based on context-free grammars.
 These grammars are sets of non-deterministic rules that determine what an
 image should look like.  The resulting images often resemble a mix of
 spirograph drawings, fractals and abstract art.
 .
 Context Free can generate images with millions of shapes, in PNG (up to 100
 megapixels) or SVG format.  It can also produce animations.  Many example
 images are included.
